---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import { config } from '../../config';

const { fullTitle, organization, url, gpsLatLon, fbId, lastUpdate, footerBg, footerBgAlt } = config;
---

<Layout title="ติดต่อเรา">
  <Header hero={false} title="ติดต่อเรา" tagLine="" />
  <div class="container mx-auto my-8 px-4">
    <p class="mb-4 text-base">{fullTitle} {organization}</p>
    <p class="mb-4 text-base">ติดต่อแจ้งเรื่องร้องเรียน แสดงความคิดเห็นได้ในวันและเวลาทำการ วันจันทร์ - วันศุกร์ เวลา 08:00 - 16:00 น.</p>
    <p class="mb-4 text-base">เว็บไซต์ <a href="/" class="text-atlantis-500 hover:underline" rel="home">{url}</a></p>
    <p class="mb-4 text-base">พิกัด GPS: {gpsLatLon}</p>
    <ul class="mb-4" role="list">
      <li class="mr-2 inline-block">
        <a href={`https://www.facebook.com/${fbId}`} class="w-12 h-12 inline-block" target="_blank" rel="noopener noreferrer">
          <svg class="fill-azure-radiance-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
            ></path></svg
          >
        </a>
      </li>
      <li class="inline-block">
        <a href={`https://www.fb.com/messages/t/${fbId}`} class="w-12 h-12 inline-block" target="_blank" rel="noopener noreferrer">
          <svg class="fill-dodger-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            ><path
              d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z"
            ></path></svg
          >
        </a>
      </li>
    </ul>
    <p class="text-base italic">ปรับปรุงข้อมูลล่าสุด: {lastUpdate}</p>
  </div>
  <Banner imgSrc={footerBg} imgAlt={footerBgAlt} heading="" desc="" />
</Layout>
